@import "tailwindcss";

@theme {
  --color-background: oklch(100% 0 0);
  --color-foreground: oklch(21.25% 0.046 264.695);
  --color-card: oklch(100% 0 0);
  --color-card-foreground: oklch(21.25% 0.046 264.695);
  --color-popover: oklch(100% 0 0);
  --color-popover-foreground: oklch(21.25% 0.046 264.695);
  --color-primary: oklch(59.5% 0.225 37.332);
  --color-primary-foreground: oklch(98% 0.012 247.858);
  --color-secondary: oklch(96.92% 0.019 247.858);
  --color-secondary-foreground: oklch(21.25% 0.046 264.695);
  --color-muted: oklch(96.92% 0.019 247.858);
  --color-muted-foreground: oklch(54.97% 0.045 264.695);
  --color-accent: oklch(96.92% 0.019 247.858);
  --color-accent-foreground: oklch(21.25% 0.046 264.695);
  --color-destructive: oklch(58.92% 0.223 25.723);
  --color-destructive-foreground: oklch(98% 0.012 247.858);
  --color-border: oklch(92.28% 0.022 247.858);
  --color-input: oklch(92.28% 0.022 247.858);
  --color-ring: oklch(59.5% 0.225 37.332);
  
  --radius: 0.5rem;
}

@layer base {
  * {
    border-color: var(--color-border);
  }
  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
  }
  
  .dark {
    --color-background: oklch(21.25% 0.046 264.695);
    --color-foreground: oklch(98% 0.012 247.858);
    --color-card: oklch(21.25% 0.046 264.695);
    --color-card-foreground: oklch(98% 0.012 247.858);
    --color-popover: oklch(21.25% 0.046 264.695);
    --color-popover-foreground: oklch(98% 0.012 247.858);
    --color-primary: oklch(59.5% 0.225 37.332);
    --color-primary-foreground: oklch(21.25% 0.046 264.695);
    --color-secondary: oklch(27.33% 0.041 265.755);
    --color-secondary-foreground: oklch(98% 0.012 247.858);
    --color-muted: oklch(27.33% 0.041 265.755);
    --color-muted-foreground: oklch(71.84% 0.032 260.031);
    --color-accent: oklch(27.33% 0.041 265.755);
    --color-accent-foreground: oklch(98% 0.012 247.858);
    --color-destructive: oklch(41.91% 0.14 25.723);
    --color-destructive-foreground: oklch(98% 0.012 247.858);
    --color-border: oklch(27.33% 0.041 265.755);
    --color-input: oklch(27.33% 0.041 265.755);
    --color-ring: oklch(59.5% 0.225 37.332);
  }
}