services:
  frontend:
    image: frontend
    build:
      context: delices-afro-caraibes-frontend
      dockerfile: ./Dockerfile
    environment:
      NODE_ENV: production
    ports:
      - 3000:3000
